/*pushy style*/
html, body{
	overflow-x: hidden /* prevents horizontal scroll bars */
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* disable webkit tap highlight */
	height: 100%; /* fixes focus scrolling in Safari (OS X) */}

/* Menu Appearance */
#menu
    {padding:10%;
     color:#333333;
     text-align:center;
     background-color:#32eabb;
     cursor:none;}

.pushy
    {position: fixed;
     width: 200px;
     height: 100%;
     top: 0;
     z-index: 9999;
     background: #333333;
     font-size: 3.5Vmin;
		 text-transform:uppercase; 
     letter-spacing:3px;
     -webkit-box-shadow: inset -7px 0 7px -9px rgba(51, 51, 51, .8);
     -moz-box-shadow: inset -7px 0 7px -9px rgba(51, 51, 51, .8);
     box-shadow: inset -7px 0 7px -9px rgba(51, 51, 51, .8);
     overflow: auto;
     -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */}

.pushy a
    {display: block;
     color: #32eabb;
     padding: 15px 30px;
     border-bottom: 2px solid #303030;
     text-decoration: none;}

.pushy a:hover
    {color: #1abc9c;
     box-shadow: inset 5px 0  0 0 #1abc9c;
     transition:0.5s;}

/* Lists */
ul{ margin: 0; padding: 0;}

/* Container */
#container
    {display:block;
	   position: fixed;
     margin-top:0%;
     margin-left:0%;
     z-index:99;}

/* Menu Button */
.menu-btn
    {font-size:5Vmin;
	   width: 40px;
	   margin: 15px auto auto 10px;
	   color: #32eabb;
	   cursor: pointer;
     }

.menu-btn:hover{color:#1abc9c;}