html,body{  
	width:100%;     
	height:100%;
	background-image:url(../images/background.png);
	background-repeat:repeat-y;
	max-width:100%;
	}
@font-face
	{
		font-family:'RegencieLightObl';
		src: url('../font/RegencieLightObl.ttf') format('truetype');
	}

.rexlogo {  
    position:absolute;
    top:50%;  
    left:50%;  
    width:400px;
    margin-top:-85px;
    margin-left:-210px;
    z-index:1;  
}

.slide {
    background-attachment: fixed;
    width:100%;
    height:100%;
    position: relative;
    box-shadow:inset 0px 10px 10px rgba(0,0,0,0.05);
}

.button{
    display:block;
    width:64px;
    height:64px;
    position:absolute;
    bottom:0px;
    left:50%;
    margin-left:-32px;
    background-image:url(../images/arrow.png);
    background-repeat:no-repeat;
}
.button:hover{
    background-color: rgba(249,249,249,0.5);
    cursor:pointer;
}

#slide1{
	background-image:url(../images/bg_slide1.png);
	background-repeat:repeat-y;
}

#slide2{
	background-color:#33e4bb;
}

#slide3{
	background-image:url(../images/bg_slide3.png);
	background-repeat:repeat-y;
}

#text {
	margin: 0 auto;	
	}
h1{	
	font-family:'RegencieLightObl';
	font-size:5em;
	text-align:center;
	color:#ffffff;
	top:50% left:50%;
	padding-top:190px;
}
h2{	font-family:'RegencieLightObl';
	font-size:5em;
	text-align:center;
	color:#ffffff;
	top:50% left:50%;
	padding-top:280px;

}
#buttons{	width:336px;
			margin:0 auto; 
			height:62px;
			position:absolute; 
			top:50%; left:50%; 
			margin-left:-168px; 
			margin-top:45px;}
		
a.buttons{	display:block;
			width:62px; 
			margin-right:29px; 
			height:62px; 
			background-image:url(../images/buttons.png);
			float:left; 
			background-position:0px 62px;}
			
#facebook{ position:relative; z-index:999999;}
#twitter{background-position:190px 62px; }
#gplus{background-position:126px 62px;}
#github{background-position:62px 62px;  margin-right:0px;}			

#facebook:hover{background-position:0px 0px !important;}
#twitter:hover{background-position:190px 0px !important;}
#gplus:hover{background-position: 126px 0px !important;}
#github:hover{background-position:62px 0px !important;}
