@font-face { font-family:'Lato',sans-serif;}

html body {
    font-family:'Lato',sans-serif;
    width : 100%;
    height: 100%;
    margin: 0 auto;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;}

li {cursor:pointer; }

/*GLobal Styles*/
p { color: word-spacing: 1px; line-height: 25px; font-size: 16px; }

h1 { font-size: 7vmin;}
h2 { font-size: 6vmin;}
h3 { font-size: 5vmin;}
h4 { font-size: 4vmin;}
h5 { font-size: 3vmin;}
h6 { font-size: 2vmin;}

.section-padding {padding: 90px 0 90px;}

/* class gap-xy || 'm' for margin & 'p' for padding */
.gap-1m { margin-top: 130px;}  .gap-1p { padding-top: 130px;}
.gap-2m { margin-top:  65px;}  .gap-2p { padding-top:  65px;}
.gap-3m { margin-top:  35px;}  .gap-3p { padding-top:  35px;}
.gap-4m { margin-top:  13px;}  .gap-4p { padding-top:  13px;}

.hr-light { height:7px; width:72px; background-color: #32eabb; border:0 none;}
.hr-dark  { height:7px; width:72px; background-color: #333333; border:0 none;}

.wp1, .wp2, .wp3, .wp4, .wp5, .wp6 { visibility: hidden;}

.bounceInLeft, .bounceInRight, 
.fadeInUp, .fadeInDown, .fadeInLeft, .fadeInRight, .fadeIn { visibility: visible;}

.delay-05  {-webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; -o-animation-delay: 0.5s; animation-delay: 0.5s;}
.delay-10  {-webkit-animation-delay:   1s; -moz-animation-delay:   1s; -o-animation-delay:   1s; animation-delay:   1s;}
.delay-15  {-webkit-animation-delay: 1.5s; -moz-animation-delay: 1.5s; -o-animation-delay: 1.5s; animation-delay: 1.5s;}

.duration-05  {-webkit-animation-duration: 0.5s; -moz-animation-duration: 0.5s; -o-animation-duration: 0.5s; animation-duration: 0.5s;}
.duration-10  {-webkit-animation-duration:   1s; -moz-animation-duration:   1s; -o-animation-duration:   1s; animation-duration:   1s;}   
.duration-15  {-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; -o-animation-duration: 1.5s; animation-duration: 1.5s;}   

/* ==========================================================================
 * Home Section
   ========================================================================== */
.home {
    height:100%;
    background-image:url(../images/Header-bg.jpg); no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;}

.home-button {
    margin: 0 -20px 0 -20px;
    color: #ecf0f1;
    font-size: 1.5em;
    border: 0.3vmin solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: fixed;
    transition: 1s;}

.home img{max-width:100%;}

.home-button:hover { transition: 1s; border-radius:5%; cursor: pointer; color: #32eabb;}

/* ==========================================================================
 * Profile Section
   ========================================================================== */
.profile {height:100%; background-color: #191919; color: #ecf0f1;}

.ohai { color: #ecf0f1; font-family: sans-serif; text-transform: uppercase;}
.ohai h1 { font-size: 6.5vmin;}

.profile img  { padding-top:8%; max-width:70%;}
.profile span { color: #32eabb;}

.profile p {font-size: 3vmin;}

/* ==========================================================================
 * Hidden-one
   ========================================================================== */
.hidden-one {
    background: url(../images/hidden_one_bg.jpg); no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    color: #ecf0f1;
    padding: 7% 0 7% 0;}

.hidden-one h1 { font-size: 8vmin; text-transform: uppercase; letter-spacing: 5px;}

/* ==========================================================================
 * Skill Section
   ========================================================================== */

.skill {background-color:#191919; color: #32eabb;}

.tri-icons img{ max-width:100%;}

.tri-icons img {
    -webkit-transition: all 500ms ease-in-out; 
    -moz-transition: all 500ms ease-in-out; 
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;}

.tri-icons img:hover {
    -webkit-transform: translate(0, -15px); 
    -moz-transform: translate(0, -15px);
    -o-transform:translate(0, -15px);   
    transform: translate(0, -15px); }

.tri-icons span { color: #32eabb;}
.tri-icons h2 { color: #ecf0f1; font-weight: bold; text-transform: uppercase; letter-spacing: 7px;}

.whatican { background-color: #191919; padding-bottom: 90px; text-transform: uppercase;}
.whatican { color: #ecf0f1;}
.whatican .progress { background-color: #ecf0f1;}
.whatican .progress-bar{ background-color: #32eabb;}

/* ==========================================================================
 * Project Section
   ========================================================================== */

.project { background-color: #333333;}
.project h1 { color: #ecf0f1; text-transform: uppercase;}
.project img { width: 100%;}
.project-item:hover .mask { opacity:0.90;}

.mask h5 { color: #32eabb; font-size: 4vmin; text-transform: uppercase;}
.mask {
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    padding-top:25%;
    background-color: #333333; 
    opacity:0;
    
    -webkit-transition: opacity .8s ease 0s;
    -moz-transition: opacity .8s ease 0s;
    -o-transition: opacity .8s ease 0s;
    transition: opacity .8s ease 0s;}

.mask:hover {
    -webkit-transition: opacity .5s ease 0s;
    -moz-transition: opacity .5s ease 0s;
    -o-transition: opacity .5s ease 0s;
    transition: opacity .5s ease 0s;}

/* ==========================================================================
 * Hidden-two
   ========================================================================== */

.hidden-two {
    background: url(../images/hidden_two_bg.jpg); no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    background-attachment:fixed;   
    color: #ecf0f1;
    padding:7% 0 7% 0;}

.hidden-two h1 { font-size: 7vmin; text-transform: uppercase; letter-spacing: 0px;}

/* ==========================================================================
 * Contacts Section
   ========================================================================== */

.contacts 
    {color:#191919;
     height:100%;}