body{
		background-image: url('background.png');
		background-color: #cccccc;
		text-align: center;
		color: #000000;
		padding:0px
		margin:0px
	}

#Rexperience {
				margin:0 auto;
				position:absolute; 
				top:50%; 
				left:50%; 
				margin-left:-210px; 
				margin-top:-105px;}
				
#Rexperience:hover {
				display:block;
				width:400px;
				height:150px;
				background-image: url('Rex_button_hover.png');
				display:block;
				margin:0 auto;
				top:50%; 
				left:50%; 
				margin-left:-210px; 
				margin-top:-107px;}			
			
#buttons{	width:336px;
			margin:0 auto; 
			height:62px;
			position:absolute; 
			top:50%; left:50%; 
			margin-left:-168px; 
			margin-top:75px;}
			
a.button{	display:block;
			width:62px; 
			margin-right:29px; 
			height:62px; 
			background-image:url(buttons.png);
			float:left; 
			background-position:0px 62px;}
#facebook{ position:relative; z-index:999999;}
#twitter{background-position:190px 62px; }
#gplus{background-position:126px 62px;}
#github{background-position:62px 62px;  margin-right:0px;}			

#facebook:hover{background-position:0px 0px !important;}
#twitter:hover{background-position:190px 0px !important;}
#gplus:hover{background-position: 126px 0px !important;}
#github:hover{background-position:62px 0px !important;}